@import 'tailwindcss';
@import './fonts.css';

@theme {
  --color-off-white: #eee;
  --color-off-black: #111;
  --color-bright-blue: #11c6f8;
  --color-bright-pink: #ea6ee2;
  --color-bright-teal: #5fe6c0;
  --color-bright-yellow: #ffe942;
  --color-bright-purple: #5c11f0;

  --breakpoint-s720: 45rem;
  --breakpoint-s1440: 90rem;

  --spacing-s360: 22.5rem;
  --spacing-s720: 45rem;
  --spacing-s1260: 78.75rem;
  --spacing-s1440: 90rem;
  --spacing-s1560: 97.5rem;
  --spacing-hdh: calc(100vh - 64px);

  --font-sync: 'Syncopate', sans-serif;
  --font-mont: 'Montserrat', sans-serif;

  --background-image-hero-0: url('../assets/images/hero_0.png');
  --background-image-hero-1: url('../assets/images/hero_1.jpg');
  --background-image-hero-2: url('../assets/images/hero_2.png');
  --background-image-0: url('../assets/images/background_0.jpg');
  --background-image-1: url('../assets/images/background_1.jpg');
  --background-image-2: url('../assets/images/background_2.png');
  --background-image-3: url('../assets/images/background_3.png');

  --stroke-none: unset;
}

@utility text-stroke-* {
  -webkit-text-stroke-width: calc(--value(integer) * 0.5px);
  -webkit-text-stroke-width: --value(--stroke-*, [*]);

  --tw-stroke-color: --value(--color-*);
  -webkit-text-stroke-color: var(--tw-stroke-color, black);

  &::selection {
    background-color: var(--tw-stroke-color, black);
    --tw-selection-color: --modifier(--color-*);
    text-shadow: 0 0 0 var(--tw-selection-color, white);
  }
}

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    width: inherit;
    height: inherit;
    transition-duration: 200ms;
  }

  body {
    @apply font-mont font-normal text-off-white bg-off-black scheme-light-dark;
  }

  #root {
    @apply mx-auto my-0;
  }

  h1,
  h2,
  h3 {
    @apply font-sync font-bold;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
  }

  h2 {
    @apply text-3xl sm:text-5xl;
  }

  h3 {
    @apply text-2xl sm:text-4xl;
  }

  p,
  ul {
    @apply my-2;
  }

  a {
    @apply underline underline-offset-4;
  }

  ul {
    @apply list-disc list-inside;
  }
}

@layer components {
  .section-container {
    @apply w-full max-w-s1560 py-8 px-4 md:px-8 flex flex-col items-center gap-8;
  }
  
  .content-box {
    @apply w-full max-w-s720 px-6 py-2 md:py-4 text-wrap wrap-anywhere motion-safe:hover:scale-105;
  }
}
